.home-page {
  background-color: #ffffff;
  height: 911px;
  position: relative;
  width: 1373px;
}

.home-page .overlap {
  background-color: #3fd184;
  height: 130px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1373px;
}

 .choose-service-logout{
  background: transparent;
  font-family: "Inter-Regular", Helvetica;
  font-size: 25px;
  font-weight: 400;
  left: 1086px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 45px;
  border: none;
}

.choose-service-logout-link{
  text-decoration: none;
  color: rgb(95, 77, 77);
  font-size: 30px;
}

.home-page .div {
  color: #140d0d;
  font-family: "Inter-Regular", Helvetica;
  font-size: 32px;
  font-weight: 400;
  left: 738px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 46px;
  white-space: nowrap;
  width: 93px;
}

.home-page .text-wrapper-2 {
  color: #140c0d;
  font-family: "Inter-Regular", Helvetica;
  font-size: 32px;
  font-weight: 400;
  left: 583px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 45px;
}

.home-page .text-wrapper-3 {
  color: #140d0d;
  font-family: "Inter-Regular", Helvetica;
  font-size: 32px;
  font-weight: 400;
  left: 896px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 45px;
}

.home-page .text-wrapper-4 {
  color: #42196b;
  font-family: "Inter-Italic", Helvetica;
  font-size: 54px;
  font-style: italic;
  font-weight: 400;
  left: 43px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 26px;
}

.home-page .overlap-group {
  height: 54px;
  left: 104px;
  position: absolute;
  top: 328px;
  width: 483px;
}

.home-page .from {
  background-color: #d9d9d9;
  height: 52px;
  left: 0;
  position: absolute;
  top: 2px;
  width: 483px;
}

.home-page .input {
  background-color: transparent;
  border: 0;
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 12px;
  font-weight: 400;
  height: 53px;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  padding: 10px;
  position: absolute;
  top: 0;
  width: 483px;
}

.home-page .overlap-2 {
  height: 53px;
  left: 105px;
  position: absolute;
  top: 425px;
  width: 484px;
}

.home-page .to {
  background-color: #d9d9d9;
  height: 52px;
  left: 1px;
  position: absolute;
  top: 1px;
  width: 483px;
}

.home-page .to-2 {
  background-color: transparent;
  border: 0;
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 12px;
  font-weight: 400;
  height: 52px;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  padding: 10px;
  position: absolute;
  top: 0;
  width: 484px;
}

.home-page .overlap-3 {
  height: 49px;
  left: 106px;
  position: absolute;
  top: 522px;
  width: 235px;
}

.home-page .div-2 {
  background-color: #d9d9d9;
  height: 48px;
  left: 0;
  position: absolute;
  top: 1px;
  width: 235px;
}

.home-page .text {
  background-color: transparent;
  border: 0;
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 12px;
  font-weight: 400;
  height: 48px;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  padding: 0;
  position: absolute;
  top: 0;
  width: 235px;
}

.home-page .overlap-4 {
  height: 49px;
  left: 349px;
  position: absolute;
  top: 522px;
  width: 235px;
}

.home-page .text-wrapper-5 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 14px;
  font-weight: bold;
  left: 104px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 303px;
  width: 49px;
}

.home-page .text-wrapper-6 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 14px;
  font-weight: bold;
  left: 106px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 399px;
}

.home-page .text-wrapper-7 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 14px;
  font-weight: bold;
  left: 104px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 496px;
}

.home-page .text-wrapper-8 {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 14px;
  font-weight: bold;
  left: 349px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 496px;
}

.home-page .overlap-group-2 {
  height: 45px;
  left: 103px;
  position: absolute;
  top: 589px;
  width: 485px;
}

.home-page .search-buses {
  background-color: #2b8956;
  height: 45px;
  left: 0;
  position: absolute;
  top: 0;
  width: 485px;
}

.home-page .text-wrapper-9 {
  background: transparent;
  font-family: "Inter-ExtraLight", Helvetica;
  font-size: 22px;
  font-weight: 400;
  left: 181px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 10px;
  white-space: nowrap;
  border: none;

}

.home-page .buspic {
  height: 630px;
  left: 614px;
  object-fit: cover;
  position: absolute;
  top: 227px;
  width: 656px;
}

.service-search{
  text-decoration: none;
  border: none;
  color: white;
}