/* SeatBooking.css */

.seat-booking-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .banner {
    width: 100%;
    text-align: center;
    background-color: #333;
    color: white;
    padding: 2px;
  }
  
  .top-left,
  .top-right,
  .bottom-right {
    width: 48%;
    margin: 10px;
  }

  .top-left {
    margin-left: 100px;
  }
  
  .top-right {
    margin-right: -100px;
  }
  
  .top-left label,
  .top-right label {
    display: block;
    margin-bottom: 1px;
  }
  
  
  .seat-container {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10px;
    margin-top: 40px;
    margin-left: 80px;
  }
  
  .seat-row {
    display: flex;
    width: 100%;
    margin-bottom: 2px;
  }
  
  .seat-button {
    width: 40px;
    height: 40px;
    margin: 4px;
    background-color: #aba8a8;
    border: 1px solid #aaa;
    cursor: pointer;
    margin-right: 13px;
  }
  
  .seat-row .seat-button:nth-child(3) {
    margin-left: 60px; /* Triple the margin */
  }

  .seat-button.selected {
    background-color: #4caf50; /* Green color for selected seats */
    color: #fff;
  }
  
  .bus-image {
    width: 40px; /* Adjust the width as needed */
    height: 40px;
    margin-bottom: 10px;
    margin-left: 230px;
  }

  .bottom-right {
  width: 48%;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -400px;
  margin-left: 550px;
}

/* Add the following styles to align the bottom-right div to the right */
@media (max-width: 768px) {
  .bottom-right {
    margin-right: 50px; /* Adjust the margin to position it to the right */
  }
}

/* Inside SeatBooking.css */

.additional-info {
    display: flex;
    margin-top: 40px;
    /* justify-content: space-evenly; */
  }
  
  .status-button {
    width: 40px; /* Adjust the width as needed */
    height: 40px;
    border: 1px solid #aaa;
    cursor: pointer;
    margin-left: 80px;
    pointer-events: none;
  }
  
  .available {
    margin-right: 10px;
    margin-left: -440px;
    background-color: #aba8a8;
  }
  
  .booked {
    margin-right: 10px;
    margin-left: -170px;
    background-color: #4caf50; /* Green color for booked seats */
    /* color: #fff; */
  }
  
  .selected {
    margin-right: 15px;
    
    background-color: #f00; /* Red color for selected seats */
    /* color: #fff; */
  }
  
  .mpoo {
    margin-right: 50px;
  }

  .selected-seats-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5px; /* Adjust the margin as needed */
  }
  
  .selected-seats-container span {
    margin-right: 10px; /* Adjust the margin between seat numbers as needed */
  }
  
  .fixit {
    margin-left: -10px;
    margin-bottom: 5px;
  }

  .doit {
    margin-top: 20px;
  }

  .eatit {
    margin-top: 20px;
    margin-left: -30px;
  }

  .sakib {
    display: flex;
  }