.Employee-whole{
    display: flex;
}

.EmployeeButton{
    background: transparent;
    color:#ffff;
    background-color: rgb(140, 191, 233);
    border: none;
    outline: none;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}

.employee-operation{
    display: flex;

}

.employee-search-input{
    align-items: center;
    width: 200px;
    height: 50px;
    background: #f4d6d6;
    border-radius: 6px;
}

.employee-search-button{
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 50px;
    color: white;
    background-color: #6c5881;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    margin-left: 4px;
}

.employee-add-box{
    padding-left: 200px;
}

.employee-add-box-button{
    text-decoration: none;
    border: none;
    background-color: #6c5881;
    width: 150px;
    height: 50px;
    color: white;
    font-size: 20px;
    font-weight: 600;
    border-radius: 10px;
    cursor: pointer;
}

.employee-div-table{
   
    background: #f4d6d6;
    align-items: center;
    justify-content: center;
}

.employee-table{
    align-items: center;
}

.employee-table-head{
    gap: 20px;
    background-color: #cbb4e2;
}

.employee-head-information{
    gap: 20px;
    padding-left: 25px;
    padding-right: 20px ;
    font-size: 20px;
}