.passenger-details {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .passenger-details .div {
    background-color: #ffffff;
    height: 1364px;
    position: relative;
    width: 1373px;
  }
  
  .passenger-details .overlap {
    background-color: #3fd184;
    height: 130px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1373px;
  }
  
  .passenger-details .text-wrapper {
    color: #140d0d;
    font-family: "Inter-Regular", Helvetica;
    font-size: 25px;
    font-weight: 400;
    left: 1086px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 45px;
  }
  
  .passenger-details .text-wrapper-2 {
    color: #140d0d;
    font-family: "Inter-Regular", Helvetica;
    font-size: 32px;
    font-weight: 400;
    left: 738px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 46px;
    white-space: nowrap;
    width: 93px;
  }
  
  .passenger-details .text-wrapper-3 {
    color: #140c0d;
    font-family: "Inter-Regular", Helvetica;
    font-size: 32px;
    font-weight: 400;
    left: 583px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 45px;
  }
  
  .passenger-details .text-wrapper-4 {
    color: #140d0d;
    font-family: "Inter-Regular", Helvetica;
    font-size: 32px;
    font-weight: 400;
    left: 896px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 45px;
  }
  
  .passenger-details .text-wrapper-5 {
    color: #42196b;
    font-family: "Inter-Italic", Helvetica;
    font-size: 54px;
    font-style: italic;
    font-weight: 400;
    left: 43px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 26px;
  }
  
  .passenger-details .overlap-group {
    background-color: #a4a3d4;
    height: 49px;
    left: 49px;
    position: absolute;
    top: 170px;
    width: 714px;
  }
  
  .passenger-details .text-wrapper-6 {
    color: #000000;
    font-family: "Inter-Bold", Helvetica;
    font-size: 32px;
    font-weight: 700;
    left: 26px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 9px;
  }
  
  .passenger-details .div-wrapper {
    background-color: #35a368;
    border-radius: 20px;
    height: 51px;
    left: 385px;
    position: absolute;
    top: 520px;
    width: 163px;
  }
  
  .passenger-details .text-wrapper-7 {
    font-family: "Inter-Regular", Helvetica;
    font-size: 24px;
    font-weight: 400;
    left: 37px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 10px;
    background: transparent;
    border: none;
  }

  .passenger-details-confirm{
    text-decoration: none;
    color: white;
  }
  
  .passenger-details .name {
    background: transparent;
    border: none;
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    font-size: 24px;
    font-weight: 400;
    left: 48px;
    letter-spacing: 0;
    line-height: normal;
    padding: 0;
    position: absolute;
    top: 258px;
  }
  
  .passenger-details .gender {
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    font-size: 24px;
    font-weight: 400;
    left: 47px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 318px;
  }
  
  .passenger-details .phone {
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    font-size: 24px;
    font-weight: 400;
    left: 48px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 387px;
  }
  
  .passenger-details .NID {
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    font-size: 24px;
    font-weight: 400;
    left: 50px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 456px;
  }
  
  .passenger-details .overlap-group-2 {
    height: 31px;
    left: 219px;
    position: absolute;
    top: 258px;
    width: 519px;
  }
  
  .passenger-details .rectangle {
    background-color: #d9d9d9;
    height: 29px;
    left: 1px;
    position: absolute;
    top: 2px;
    width: 517px;
  }
  
  .passenger-details .input {
    background-color: transparent;
    border: 0;
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    font-size: 24px;
    font-weight: 400;
    height: 30px;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    padding: 0;
    position: absolute;
    top: 0;
    width: 519px;
  }
  
  .passenger-details .overlap-2 {
    height: 33px;
    left: 219px;
    position: absolute;
    top: 315px;
    width: 519px;
  }
  
  .passenger-details .rectangle-2 {
    background-color: #d9d9d9;
    height: 29px;
    left: 2px;
    position: absolute;
    top: 4px;
    width: 517px;
  }
  
  .passenger-details .gender-2 {
    background-color: transparent;
    border: 0;
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    font-size: 24px;
    font-weight: 400;
    height: 32px;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    padding: 0;
    position: absolute;
    top: 0;
    width: 515px;
  }
  
  .passenger-details .overlap-3 {
    height: 32px;
    left: 219px;
    position: absolute;
    top: 381px;
    width: 519px;
  }
  
  .passenger-details .rectangle-3 {
    background-color: #d9d9d9;
    height: 29px;
    left: 2px;
    position: absolute;
    top: 3px;
    width: 517px;
  }
  
  .passenger-details .phone-2 {
    background-color: transparent;
    border: 0;
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    font-size: 24px;
    font-weight: 400;
    height: 31px;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    padding: 0;
    position: absolute;
    top: 0;
    width: 515px;
  }
  
  .passenger-details .overlap-4 {
    height: 31px;
    left: 214px;
    position: absolute;
    top: 455px;
    width: 520px;
  }
  
  .passenger-details .rectangle-4 {
    background-color: #d9d9d9;
    height: 29px;
    left: 3px;
    position: absolute;
    top: 2px;
    width: 517px;
  }
  
  .passenger-details .nid {
    background-color: transparent;
    border: 0;
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    font-size: 24px;
    font-weight: 400;
    height: 30px;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    padding: 0;
    position: absolute;
    top: 0;
    width: 520px;
  }
  
  .passenger-details .overlap-5 {
    background-color: #efe7e7;
    height: 378px;
    left: 785px;
    position: absolute;
    top: 170px;
    width: 457px;
  }
  
  .passenger-details .flexcontainer {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 127px;
    left: 33px;
    position: absolute;
    top: 82px;
    width: 391px;
  }
  
  .passenger-details .text {
    align-self: stretch;
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
  }
  
  .passenger-details .span {
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 0;
  }
  
  .passenger-details .overlap-6 {
    background-color: #a5a4d5;
    height: 49px;
    left: 4px;
    position: absolute;
    top: 0;
    width: 453px;
  }
  
  .passenger-details .text-wrapper-8 {
    color: #000000;
    font-family: "Inter-Bold", Helvetica;
    font-size: 32px;
    font-weight: 700;
    left: 17px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 7px;
  }
  